<!DOCTYPE html>

<html>
<head>
    <title>Instruments</title>

    <link rel="icon" href="{{ url_for('static', filename='img/cs.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">

    <style>
        div { text-align: center;}
        form {padding-bottom: 50px;}
        input {margin: 0 5px 0 5px;}
        table {
            width:70%;
            margin: auto;
            border-collapse: collapse;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .center { text-align: center; }
        .line-div {
            width: 100%;
            height: 2px;
            background-color: black;
        }

        #signout {
            border: none;
            background: none;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Instrument Inventory</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Instruments">Instruments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Rentals">Rentals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Maintenance">Maintenance</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Roster">Roster</a>
                    </li>
                </ul>
            </div>
    
            <div id="div-nav-right" class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a id="login-btn" class="nav-link" href="/Login">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a id="register-btn" class="nav-link" href="/Register">Register</a>
                    </li>
                    <li class="nav-item">
                        <button id="signout" class="nav-link">Sign Out</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div id="header" style="margin-bottom: 40px;">
        <h1 class="center">Instruments</h1>
        <div class="line-div"></div>
    </div>

    <div id="updates">
        <div id="insert-div">
            <h2 class="center">Insert Into Instruments Table</h2>
            <form onsubmit="checkAdmin()">
                <input type="text" id="ins-instrID-field" placeholder="Instrument ID">
                <input type="text" id="ins-type-field" placeholder="Instrument Type">
                <input type="text" id="ins-brand-field" placeholder="Instrument Brand">
                <input type="submit" id="submit-insert-instrument" value="Insert">
            </form>
        </div>
        <div id="update-div">
            <h2 class="center">Update Instruments Table By ID</h2>
            <form onsubmit="checkAdmin()">
                <input type="text" id="upd-instrID-field" placeholder="Instrument ID">
                <input type="text" id="upd-type-field" placeholder="Updated Type">
                <input type="text" id="upd-brand-field" placeholder="Updated Brand">
                <input type="submit" id="submit-update-instrument" value="Update">
            </form>
        </div>
        <div class="table-div" style="height: 300px; overflow:auto;">
            <table>
                <thead>
                    <tr>
                        <th>Instrument ID</th>
                        <th>Instrument Type</th>
                        <th>Instrument Brand</th>
                        <th>Remove</th>
                    </tr>
                </thead>
    
                <tbody>
                {% for item in items[0] %}
                <tr>
                    <td>{{item.instrumentid}}</td>
                    <td>{{item.instrument_type}}</td>
                    <td>{{item.brand}}</td>
                    
                    <td><button class="btn btn-outline-secondary btn-sm remove" data-source="{{item.instrumentid}}" type="button"><i class="fa fa-trash fa-1" aria-hidden="true"></i></button></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="line-div"></div>
    </div>

    <div id="search-div">
        <h2 class="center">Search By ID</h2>
        <form style="padding-bottom: 30px;">
            <input type="text" id="search-instrID-field" placeholder="Instrument ID">
            <input type="submit" id="submit-search-instrument" value="Search">
        </form>
        <div class="table-div">
            <table>
                <thead>
                    <tr>
                        <th>Instrument ID</th>
                        <th>Instrument Type</th>
                        <th>Instrument Brand</th>
                        <th>Remove</th>
                    </tr>
                </thead>
    
                <tbody>
                {% for item in items[2] %}
                <tr>
                    <td>{{item.instrumentid}}</td>
                    <td>{{item.instrument_type}}</td>
                    <td>{{item.brand}}</td>
                    
                    <td><button class="btn btn-outline-secondary btn-sm remove" data-source="{{item.instrumentid}}" type="button" onclick="checkAdmin()"><i class="fa fa-trash fa-1" aria-hidden="true"></i></button></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="line-div"></div>
    </div>
    <div id="adv-query-div">
        <h2 class="center">Advanced Query</h2>
        <p "text-align: center;">Finds the maintenance statistics for each instrument</p>
        
        <div class="table-div" style="height: 300px; overflow:auto;">
            <table>
                <thead>
                    <tr>
                        <th>Instrument ID</th>
                        <th>Instrument Type</th>
                        <th>Maintenance Count</th>
                        <th>Total Cost</th>
                    </tr>
                </thead>
    
                <tbody>
                {% for item in items[1] %}
                <tr>
                    <td>{{item.instrumentid}}</td>
                    <td>{{item.instrument_type}}</td>
                    <td>{{item.maintCnt}}</td>
                    <td>{{item.totCost}}</td>                    
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

    <script id="placeholder-script" type="text/template">
        {{admin}}
    </script>
    <script>
        function checkAdmin() {
            var adminString = $('#placeholder-script').html();
            if (adminString.includes("false")) {
                alert("Admin privileges are required to modify a table.");
            }
        }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script/instrument.js') }}"></script>

</html>