<!DOCTYPE html>

<html>
<head>
    <title>Rentals</title>

    <link rel="icon" href="{{ url_for('static', filename='img/cs.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">

    <style>
        div { text-align: center;}
        form {padding-bottom: 50px;}
        input {margin: 0 5px 0 5px;}
        table {
            width:70%;
            margin: auto;
            border-collapse: collapse;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .center { text-align: center; }
        .line-div {
            width: 100%;
            height: 2px;
            background-color: black;
        }
    </style>
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/Roster">Roster</a>
        <a href="/Instruments">Instruments</a>
        <a href="/Maintenance">Maintenance</a>
        <a href="/Rentals">Rentals</a>
    </nav>
    <div id="header" style="margin-bottom: 40px;">
        <h1 class="center">Rentals</h1>
        <div class="line-div"></div>
    </div>

    <div id="insert-div">
        <h2 class="center">Insert Into Rentals Table</h2>
        <form >
            <input type="text" id="ins-rentID-field" placeholder="Rental ID">
            <input type="text" id="ins-instrID-field" placeholder="Instrument ID">
            <input type="text" id="ins-netID-field" placeholder="Net ID">
            <input type="text" id="ins-dateOUT-field" placeholder="Date Out (yyyy-mm-dd)">
            <input type="text" id="ins-dateIN-field" placeholder="Date IN (yyyy-mm-dd)">
            <input type="submit" id="submit-insert-rental" value="Insert">
        </form>
        <div class="line-div"></div>
    </div>

    <div id="update-div">
        <h2 class="center">Update Rentals Table By Rental ID</h2>
        <form>
            <input type="text" id="upd-rentID-field" placeholder="Rental ID">
            <input type="text" id="upd-instrID-field" placeholder="Updated Instrument ID">
            <input type="text" id="upd-netID-field" placeholder="Updated Net ID">
            <input type="text" id="upd-dateOUT-field" placeholder="Updated Date Out (yyyy-mm-dd)">
            <input type="text" id="upd-dateIN-field" placeholder="Updated Date IN (yyyy-mm-dd)">
            <input type="submit" id="submit-update-rental" value="Update">
        </form>
        <div class="line-div"></div>
    </div>

    <div id="search-div">
        <h2 class="center">Search By Rental ID</h2>
        <form style="padding-bottom: 30px;">
            <input type="text" id="search-rentID-field" placeholder="Rental ID" value="">
            <input type="submit" id="submit-search-rental" value="Search">
        </form>
        <div id="table2-div" style="height: 100px; overflow:auto;">
            <table>
                <thead>
                    <tr>
                        <th>Rental ID</th>
                        <th>Instrument ID</th>
                        <th>Net ID</th>
                        <th>Date Out</th>
                        <th>Date In</th>
                    </tr>
                </thead>
    
                <tbody>
                {% for boi in sr %}
                <tr>
                    <td>{{boi.rental_id}}</td>
                    <td>{{boi.instrument_id}}</td>
                    <td>{{boi.net_id}}</td>
                    <td>{{boi.date_out}}</td>
                    <td>{{boi.date_in}}</td>
                    
                   
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="table-div" style="height: 400px; overflow:auto;">
            <table>
                <thead>
                    <tr>
                        <th>Rental ID</th>
                        <th>Instrument ID</th>
                        <th>Net ID</th>
                        <th>Date Out</th>
                        <th>Date In</th>
                        <th>Remove</th>
                    </tr>
                </thead>
    
                <tbody>
                {% for item in items %}
                <tr>
                    <td>{{item.rental_id}}</td>
                    <td>{{item.instrument_id}}</td>
                    <td>{{item.net_id}}</td>
                    <td>{{item.date_out}}</td>
                    <td>{{item.date_in}}</td>
                    
                    <td><button class="btn btn-outline-secondary btn-sm remove" data-source="{{item.rental_id }}" type="button"><i class="fa fa-trash fa-1" aria-hidden="true"></i></button></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="line-div"></div>
    </div>

    <div id="adv-query-div">
        <h2 class="center">Advanced Query</h2>
        <div id="table3" style="height: 400px; overflow: auto;">
            <table>
                <thead>
                    <tr>
                        <th>Instrument</th>
                        <th>Rental Count</th>
                    </tr>
                </thead>
    
                <tbody>
                {% for q in aqres %}
                <tr>
                    <td>{{q.instrument_type}}</td>
                    <td>{{q.RentalCount}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script/rental.js') }}"></script>

</html>